{{- if eq .Type "alert" -}}
    {{- /* 这里的 .AlertType 就是 info, danger, warning 等 */ -}}
    <div class="admonition {{ .AlertType | lower }}">
        <p class="admonition-title">
            {{- with .AlertTitle }}{{ . }}{{ else }}{{ .AlertType | upper }}{{ end -}}
        </p>
        <div class="admonition-content">
            {{ .Text }}
        </div>
    </div>
{{- else -}}
    {{- /* 普通引用块 */ -}}
    <blockquote {{ with .Attributes.id }}id="{{ . }}"{{ end }}>
        {{ .Text }}
    </blockquote>
{{- end -}}